# Excluir directorios de compilación
target/
build/
dist/
out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

# Excluir archivos y carpetas de IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.class
*.project
*.settings
*.classpath
*.factorypath

# Excluir archivos de configuración del sistema
.DS_Store
Thumbs.db

# Excluir archivos de paquetes
*.jar
*.war
*.ear

# Excluir archivos de logs y temporales
*.log
*.tmp
*.temp

# Excluir archivos de configuración de la aplicación
*.env

### STS ###
.apt_generated
.springBeans
.sts4-cache

### IntelliJ IDEA ###
../.idea
../.vscode
